// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2021, Bin Meng <bmeng.cn@gmail.com>
 */

/dts-v1/;

#include "binman.dtsi"
#include "configs/llep.h"

/ {

    model = "snps,emsdp";

    #address-cells = <1>;
    #size-cells = <1>;

    cpus: cpus {
    		timebase-frequency = <100000000>;
    };

    uart@12500000 {
		compatible = "ns16550a", "ns16550", "ns8250";
		reg = <0x12500000 0x100>;
		clock-frequency = <1152000>;
		interrupts = <10>;
		reg-shift = <0>;
		bootph-all;
	};

	memory {
	    device_type = "memory";
    	#address-cells = <1>;
    	#size-cells = <1>;
    	reg = <CFG_SYS_SDRAM_BASE CFG_SYS_SDRAM_SIZE>;
    	auto-size;
    };

    timer {
    		compatible = "riscv,timer";
    };
};
